#WaterFlowmeter {
  background-color: red;
  border: 1px solid red;
}
.svgContainer {
  width: 100vw;
  height: 85vh;
  /* border: 1px solid red; */
  width: 80%;
}
.procedure {
  /* border: 1px solid green; */
  width: 20%;
  font-size: 1.3rem;
}
.svgContainer svg {
  height: 100%;
  width: 100%;
}

.splash {
  display: none;
}

.active {
  display: block;
}
.btn {
  appearance: none;
  -webkit-appearance: none;
  font-family: sans-serif;
  cursor: pointer;
  padding: 12px;
  min-width: 100px;
  border: 0px;
  -webkit-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  transition: background-color 100ms linear;
}

.btn:focus,
.btn.focus {
  outline: 0;
}

.btn-round-1 {
  border-radius: 8px;
}

.btn-round-2 {
  border-radius: 20px;
}

.btn-dark {
  background: #000;
  color: #ffffff;
}

.btn-dark:hover {
  background: #212121;
  color: #ffffff;
}

.btn-light {
  background: #ededed;
  color: #000;
}

.btn-light:hover {
  background: #dbdbdb;
  color: #000;
}

.btn-primary {
  background: #3498db;
  color: #ffffff;
}

.btn-secondary {
  border: 2px solid #3498db;
  background-color: white;
}

.btn-primary:hover {
  background: #2980b9;
  color: #ffffff;
}

.btn-success {
  background: #2ecc71;
  color: #ffffff;
}

.btn-success:hover {
  background: #27ae60;
  color: #ffffff;
}

.btn-warning {
  background: #f1c40f;
  color: #ffffff;
}

.btn-warning:hover {
  background: #f39c12;
  color: #ffffff;
}

.btn-danger {
  background: #e74c3c;
  color: #ffffff;
}

.btn-danger:hover {
  background: #c0392b;
  color: #ffffff;
}
.wheel {
  position: relative;
  cursor: pointer;
  transition: transform 0.1s ease-out; /* Add smooth transition effect */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a shadow for depth */
  transform-origin: center;
  transform-box: fill-box;
}

@keyframes wheel {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
